body{
	background-color: #f8f8f8;
}

.center{
	margin: auto;
}

.left{
	margin: auto auto auto 0;
}

.right{
	margin: auto 0 auto auto;
}

.navbar-default{
	background-color: #ffffff;
}

div.navbar-header{
	border-right:1px solid #e7e7e7;
}

ul:nth-child(3){
	margin:0 29%;
	color:#00aced;
}

ul:nth-child(3) li a{
	border:none !important;
	color:#00aced !important;
	padding:15px !important;
	margin:0 !important;
}

ul:nth-child(3) li a i.fa{
	font-size: 35px;
}

ul.nav li a{
	border: 1px solid #e7e7e7;
    border-radius: 40px;
    padding: 4px 7px;
    margin: 15px;
}

.active{
	margin-bottom: 0 !important;
	border-bottom:2px solid #00aced;
}

.flex-container{
	flex-direction: row;
	display: -webkit-flex;
    display: flex;
}

.flex-item{
	width:25%;
	margin:10px;
	text-align: center;
}

.flex-item span:first-child{
	color:#999;
}

div.flex-item span:last-child{
	display:block;
	font-weight: 900;
}

.jumbotron{
	padding:0 !important;
	margin:0 10% !important;
	background-color: #ffffff;
}

.flex-container-body{
	flex-direction: column;
	margin-top:4% !important;
}

div.tweetSection{
	padding:3%;
	flex-direction: row;
	display: -webkit-flex;
    display: flex;
}

div.tweetSection > div:first-child{
	width:12%;
}

div.tweetSection > div:last-child{
	width:70%;
}

.tweet-panel{
	flex-direction: column;
	display: -webkit-flex;
    display: flex;
    margin: 1% 0;
}

.tweet-header{
	flex-direction: row;
	display: -webkit-flex;
    display: flex;
    width: 100% !important;
}

div.tweet-header > span:first-child{
	width: 50% !important;
	text-align: left;
}

div.tweet-header > span:last-child{
	width: 50% !important;
	text-align: right;
}

.userImage{
	width:80px;
	height:80px;
}

.tweet-options{
	position: relative;
}

.tweet-options span:not(:first-child):not(:last-child){
	margin:0 2%;
}

div.tweet-options > span:last-child{
	position: absolute;
	right:0;
}

